.main-container{
    width: 1400px;
    margin:auto;
    font-family: 'Montserrat', sans-serif;
}
.first-container{
    font-size: 0;
    box-sizing: border-box;
    border: solid darkred 4px;
    margin-bottom: 25px;
}
.small-box {
    display: inline-block;
    width: calc(100% / 3);
    font-size: 14px;
    text-align: center;
    box-sizing: border-box;
    color: dimgrey;
    padding: 20px 100px 20px 80px;
}
.header-small-box{
    color: dodgerblue;
    font-size: 18px;
}
.second-container{
    font-size: 0;
    box-sizing: border-box;
    border: solid darkred 4px;
}
.cart-box{
    color: dimgrey;
    display: inline-block;
    width:calc(100%/2);
    font-size: 14px;
    text-align:center;
    box-sizing: border-box;
    padding-bottom: 10px;
}
.cart-box h1{
    font-size: 34px;
}
.cart-box p,h2{
    text-align: left;
    line-height: 26px;
}